/* Style de la scroll-bar */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--second-color) var(--main-color);
  }
  

*::-webkit-scrollbar {
    width: 12px;
  }
  
*::-webkit-scrollbar-track {
    background: var(--main-color);
  }
  
*::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 20px;
    border: 3px solid var(--main-color);
  }


/* Ma charte graphique */
:root {
    --main-color: #19381f;
    --second-color: #91cb3e;
    --color-contrast: #eee82c;
    --color-variante: #4c934c;
    font-family: 'Courier New', Courier, monospace;                                                   
}

/*ASIDE TEMPORAIRE*/

body {
    position: relative;
    background-color: grey;
}

.en_construction {
    /* display: none; */
    z-index: 5;
    position: fixed;
    top: 30%;
    left: 10%;
    transform: rotate(15deg);
    background-color: #19381f;
    border-radius: 10px;
    border: #eee82c 4px dashed;
}

.p_en_construction {
    color: #eee82c;
    font-size: 4em;
    font-weight: bold;
    padding: 2em;
}

/* CSS mobile first */

body {
    font-size: 16px;
}

/* CSS éléments globaux */

/** HEADER*/
h1 {
    font-size: 1.5rem;
    color: white;
    margin: 1.5rem 0;
    font-weight: bold;
}

.to_nav {
    color: white;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#toggle {
    display: none;
}

    /* Nav */
    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--main-color);
        color: white;
        /* transform: translateY(-100%);
        will-change: transform; */
    }
    nav ul{
        margin-top: 9rem;
    }
    nav ul li {
        margin: 1.5rem;
    }

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 1rem auto;
    padding: 0 2rem;
    background-color: var(--main-color);
}

/** MAIN*/
main {
    width: 95%;
    height: fit-content;
    margin: 1rem auto;
}

section {
    width: 100%;
    background-color: var(--color-variante);
    border: 2px solid var(--main-color);
    margin-top: 1.2em;
}

.main__citation {
    display: none;
}

q {
    text-align: center;
    font-style: italic;
    margin: 1em;
}

cite {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}

/*FOOTER*/
footer {
    width: 95%;
    margin: 1rem auto;
}

.footer__menu-ul {
    display: none;
}

.footer__texte {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    line-height: 1.3rem;
}

/** autres éléments */

tag {
    border-radius: 15px;
    color: var(--color-contrast);
    background-color: var(--main-color);
    padding: 0.2em 0.5em;
}

.ul_tag {
    display: flex;
    flex-wrap: wrap;
}

.ul_tag > li {
    margin: 0.4rem 0.2rem;
}

/** exemple de media queries, en format tablet (au-dessus de 768px largeur d'écran) mon h1 grossit*/
@media screen and (min-width: 768px) {
    
}

/** Small Desktop*/
@media screen and (min-width: 968px) {
   /*CSS adaptatif*/

    /* HEADER Nav */
    .to_nav {
        display: none;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    nav {
        position: relative;
        height: fit-content;
    }
    nav ul {
        display: flex;
        margin: 0;
    }

   .main__citation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color-variante);
    border: 2px solid var(--main-color);
    }
}

/** Desktop*/
@media screen and (min-width: 1200px) {
    /*CSS adatatif*/
    .main__citation {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--color-variante);
        border: 2px solid var(--main-color);
    }
}







