/* Style de la scroll-bar */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--second-color) var(--main-color);
  }
  

*::-webkit-scrollbar {
    width: 12px;
  }
  
*::-webkit-scrollbar-track {
    background: var(--main-color);
  }
  
*::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 20px;
    border: 3px solid var(--main-color);
  }

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 18em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: black;}
    to{border-right-color: transparent;}
  }

/* Ma charte graphique */
:root {
    --main-color: #19381f;
    --second-color: #91cb3e;
    --color-contrast: #eee82c;
    --color-variante: #4c934c;
    font-family: 'Courier New', Courier, monospace;                                                   
}

/*ASIDE TEMPORAIRE*/

body {
    position: relative;
}

.en_construction {
    /* display: none; */
    z-index: 5;
    position: fixed;
    top: 30%;
    left: 10%;
    transform: rotate(15deg);
    background-color: #19381f;
    border-radius: 10px;
    border: #eee82c 4px dashed;
}

.p_en_construction {
    color: #eee82c;
    font-size: 4em;
    font-weight: bold;
    padding: 2em;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: fit-content;
    margin: 1rem auto;
    padding: 0 2rem;
    background-color: var(--main-color);
}

h1 {
    font-size: 2rem;
    color: white;
    margin: 1.5rem 0;
    font-weight: bold;
}

.header__menu {
    color: white;
}

.header__menu-li {
    display: inline;
    margin-left: 0.75rem;
    padding-left: 0.75rem;
    border-left: 2px solid var(--color-variante);
}

.header__menu-li:hover {
    color: var(--color-contrast);
}

/*MAIN*/
main {
    width: 95%;
    height: fit-content;
    margin: 1rem auto;
}

main>div {
    margin-top: 1.2em;
}

.main__about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-variante);
    border: 2px solid var(--main-color);
}

.main__about-div1,
.main__about-div2 {
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.main__about-text {
    font-size: 150%;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.main__about-text2 {
    text-align: left;
    color: var(--color-contrast);
}

.main__about-img {
    margin: 2rem 0;
    width: 70%;
    background-color: var(--second-color);
    clip-path: circle(50% at 50% 50%);
}

.main__citation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color-variante);
    border: 2px solid var(--main-color);
}

q {
    text-align: center;
    font-style: italic;
    margin: 1em;
}

cite {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}

/*FOOTER*/
footer {
    width: 95%;
    height: fit-content;
    margin: 1rem auto;
    padding: 0 2rem;
}

.footer__menu {
    color: var(--second-color);
}

.footer__menu-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    border-bottom: 2px solid var(--main-color);
}

.footer__menu-li {
    margin-left: 0.75rem;
    padding-left: 0.75rem;
}

.footer__menu-li:hover {
    color: var(--color-contrast);
}

.footer__texte {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    line-height: 1.3rem;
}
